<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<h2>Nova Tarefa</h2>
        <form>
            <div class="form-group">
                <label class="control-label">Título</label>
                <input ng-model = "tarefa.tarefaTitulo" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Descrição</label>
                <textarea ng-model = "tarefa.tarefaDescricao" class="form-control" rows="5" id="comment"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Data</label>
                <input ng-model = "tarefa.tarefaData" type="date" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label hidden"></label>
                <button ng-click = "addTarefa()" class="btn btn-success">Adicionar</button>
            </div>
        </form>
	</div>
</div>

      